</br>
<% if logged_in?(:admin) %>
<h1 class="title has-text-danger">Books</h1>
<% else %>
<h1 class="title">Books</h1>
<% end %>
<% @books.each do |book| %>
</br>
<%= link_to book.title,book %>
</br>
<%= book.content %>
</br>
<%= link_to "editer #{book.title}", edit_book_path(book)%>
</br>
<%= link_to "destroy #{book.title}", book, method: :delete, data: {confirm:"are you sure?"}%>
</br>
<% end %>
</br>